form{
    margin-bottom: 1rem;
    margin-top: 3rem;
    width: 100%;
}
.add{
    height: 3rem;
    margin: 0;
    font-size: 25px;
    width: 69%;
}
.btn{
    height: 3rem;
    background: #FF6666;
    transition: background .2s ease-out;
    width: 29%;
}