.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 3rem;
    border-radius: 4px;
    margin: 0 -3rem 4px;
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 25px;
}
input{
    margin-right: 1rem;
}
.close{
    display: block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
