body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family:'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  /* padding-top: 5rem; */
  margin: 5rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background-color: #FF6666;
}

.done{
  text-decoration: line-through;
}
h1{
  font-weight:normal;
  font-size:2.6rem;
  letter-spacing:0.05em;
  color: white;
  margin-bottom: 0;
}
.smallText{
  margin-top: 5px;
  color: white;
}